body {
    height: 100vh;
    background-image: url(./img/bcgimg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}


main{
    background-color: antiquewhite;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top:150px; 
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}


form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

input{
    width: 300px;
    height: 20px;
    margin: 20px 0px;
    border: 2px solid grey;
    border-radius: 5px;
}

.submit-btn{
    width: 80px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: grey;
}

.border{
    width: 420px;
    height: 4px;
    background-color: grey;
    border-radius: 2px;
    opacity: 0.7;
    margin: 0 auto;
    margin-top: 10px; 
}

.btn{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
}

button{
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    display: flex;
}

button img{
    justify-content: flex-start;
    border-radius: 5px;
}

button p{
    font-size: 15px;
    margin-left:30px; 
    margin-top:5px; 
}

.fb-btn{
    background-color: #3b5998;
    border-color: #3b5998;
    color:white;
}

.tw-btn{
    background-color: #55acee;
    border-color:#55acee;
    color:white;
}

.in-btn{
    background-color: #e1306e;
    border-color: #e1306e;
    color:white;
}